[submodule "src/image_utils/image_resampling/image_sampler"]
	path = src/image_utils/image_sampler
	url = git@github.com:castacks/image_sampler.git
	branch = main
[submodule "src/image_utils/image_resampling/mvs_utils"]
	path = src/image_utils/mvs_utils
	url = git@github.com:castacks/mvs_utils
	branch = main
